<%- users = User.all -%>

<%= form_for @trip do |f| %>
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

        <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :starts_on %>
      <%= f.date_select :starts_on, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :ends_on %>
      <%= f.date_select :ends_on, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :improvements %>
      <%= f.text_area :improvements, class: "form-control" %>
    </div>

    <h2>Who went on the trip?  <small>For now, don't select yourself here.  It messes things up.</small></h2>

    	<%- users.each do |user| -%>
        <div>
      		<label>
        		<%= check_box_tag "trip[user_ids][]", user.id, @trip.users.include?(user) -%>
        		<%= user.name -%>
      		</label>
        </div>
    	<%- end -%>
     <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>





