<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-5">



    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%=@user.name%></h3>
      </div>
      <div class="panel-body center">
        <%= image_tag(@user.avatar.url(:medium), :title => "This is #{@user.name}.", :class => "img-rounded")%>  
      </div>
    </div>
  </div>

  <div class="col-md-7">



    <div class="panel panel-default drop-shadow">
      <div class="panel-heading">
        <h3><%=@user.name %>'s Trips</h3>
      </div>
      <div class="panel-body">
        <% if @usertrips.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Location</th>
                <th>Date Range</th>
              </tr>
            </thead>

            <tbody>
              <% @usertrips.each do |trip| %>
                <tr>
                  <td><%= link_to trip.location, trip %></td>
                  <td><%= trip.starts_on.strftime("%B #{trip.starts_on.day.ordinalize}, %Y") %> - <%= trip.ends_on.strftime("%B #{trip.ends_on.day.ordinalize}, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p><%= @user.name.upcase %> DON'T HAVE NO TRIPS! </p>
        <% end %>
       </div>
    </div>
  </div>
</div>


